<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            th {
                width: 300px;
                height: 20px;
                background-color: #ccd0de;
                font-weight: normal;
            }
        </style>
    </head>

    <body>
        <div id="app">
			<table border="1px" align="center" cellspacing="0px" cellspadding="5px" >
                <tr>
                    <th></th>
                    <th width="100px">出账时间</th>
                    <th v-for="(item, index) in shijianArr" :key="item.czsj + index" :colspan="item.yjsj.length * 3">
                        {{item.czsj}}
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th width="100px">预结时间</th>
                    <template v-for="(item, index) in shijianArr" >
                        <template v-for="item2 in item.yjsj" >
                            <th :key="item2 + item.czsj" colspan="3">
                                {{item2}}
                            </th>
                        </template>
                    </template>
                </tr>
                <tr>
                    <th></th>
                    <th width="100px">供应商名称</th>
                    <template v-for="(item, index) in shijianArr" >
                        <template v-for="(item2, index2) in item.yjsj" >
                            <!-- 为了确保key不重复，这里还挺麻烦 -->
                            <th :key="index + index2 + item2 + 1">
                                订单已出账
                            </th>
                            <th :key="index + index2 + item2 + 2">
                                已结账扣款
                            </th>
                            <th :key="index + index2 + item2 + 3">
                                已出账合计
                            </th>
                        </template>
                    </template>
                </tr>
                <tr v-for="(item, index) in gongyingshangArr" :key="item.gysmc">
                    <th>{{index + 1}}</th>
                    <td>{{item.gysmc}}</td>
                    <template v-for="(item2, index2) in totalTdCount">
                        <template v-if="item.yjIndex === index2">
                            <td :key="index + item2 + '1'">
                                {{item.ddycz}}
                            </td>
                            <td :key="index + item2 + '2'">
                                {{item.yjzkk}}
                            </td>
                            <td :key="index + item2 + '3'">
                                {{item.yczhj}}
                            </td>
                        </template>
                        <td :key="item2"v-else></td>
                    </template>
                </tr>
            </table>
		</div>
    </body>

    <!-- <script src="./vue2.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data() {
                return {
                    data: {
                        gongyingshang: {
                            202008: [
                                {
                                    ddycz: 4960,
                                    gysmc: '云南信丽科技有限公司',
                                    yczhj: 4860,
                                    yjzkk: 100,
                                },
                                {
                                    ddycz: 7200,
                                    gysmc: '北京万通联创装饰公司',
                                    yczhj: 7000,
                                    yjzkk: 200,
                                },
                            ],
                            202011: [
                                {
                                    ddycz: 4960,
                                    gysmc: '北京火河科技有限公司',
                                    yczhj: 4860,
                                    yjzkk: 100,
                                },
                                {
                                    ddycz: 7200,
                                    gysmc: '南京小梅家政',
                                    yczhj: 7000,
                                    yjzkk: 200,
                                },
                            ],
                        },
                        shijian: [
                            { czsj: '202103', yjsj: ['202008', '202009', '202011'] },
                            {
                                czsj: '202105',
                                yjsj: ['202012'],
                            },
                            {
                                czsj: '202103',
                                yjsj: ['202012'],
                            },
                        ],
                    },

                    gongyingshangArr: [],
                    shijianArr: [],
                    totalTdCount: 0, // 总共有多少yjsj的值需要显示
                };
            },
            created() {
                /* 每一个供应商加个date属性，值为其父级的key */
                const gongyingshang = this.data.gongyingshang
                Object.keys(gongyingshang).forEach(item => {
                    gongyingshang[item].forEach(item2 => {
                        item2['date'] = item.toString()
                    })
                })
                
                this.shijianArr = this.data.shijian
                this.gongyingshangArr = Object.values(this.data.gongyingshang).flat()
                
                /* 设置供应商显示值的位置 */
                this.gongyingshangArr.forEach(item => {
                    this.shijianArr.forEach((item2) => {
                        const index = item2.yjsj.indexOf(item.date)
                        if (index > -1) {
                            item['yjIndex'] = index * 3
                        }
                    })
                })

                /* 获取总共有多少td需要显示，是shijianArr下yjsj的长度总和 * 3。 */
                this.totalTdCount = this.shijianArr.reduce((pre, next) => {
                    return pre + next.yjsj.length
                }, 0) * 3 // 乘以3是订单已出账 	已结账扣款 	已出账合计 3个item

                this.totalTdCount -= Object.keys(this.data.gongyingshang).length

                console.log("this.gongyingshangArr::: ", this.gongyingshangArr);
                console.log("this.totalTdCount::: ", this.totalTdCount);
            },
        });
    </script>
</html>
