<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODO List</title>
</head>
<body>
	<div id="app">
		<!-- 输入框，输入后点击确定按钮，会新增一条数据。 -->
		<input type="text" v-model="todoValue">
		<!-- 添加按钮，点击添加一条数据。 -->
		<button @click="handleAdd">add</button>

		<ul>
			<!-- v-for循环list，会把数组中的每一项循环出来，因为list默认有1项，所以这里默认会循环1次。 -->
			<li v-for="(item, index) in list" :key="index">
				<input type="checkbox" v-model="item.checked">
				{{item.checked}}
				<!-- 这个是待办事项的值，就是输入框输入的值。 -->
				<span style="margin-left: 10px;">第{{index + 1}}项</span>
				<span style="margin: 0 10px" :style="{color: item.checked ? 'grey' : ''}">{{item.value}}</span>
				<!-- 点击删除，调用方法删除一条item。 -->
				<button @click="handleDelete(index)">删除</button>
			</li>
		</ul>
	</div>
</body>
<script src="./vue2.js"></script>
<script>
	const vm = new Vue({
		el: "#app",
		data() {
			return {
				todoValue: '', // 
				list: [ // todolist数组，默认有一条数据
					{ value: '待办事项1', id: 1, checked: false }
				],
			}
		},

		methods: {
			handleAdd() {
				if (!this.todoValue) {
					alert('不能为空！')
					return;
				}
				const obj = {
					value: this.todoValue,
					id: this.list.length,
					checked: false,
				}
				this.list.push(obj)
				console.log("添加成功::: ", );
				this.todoValue = ''
			},

			handleDelete(index) {
				this.list.splice(index, 1)
				console.log("删除成功::: ", );
			}
		}
	})
</script>
</html>